
.navi {
    height: 8rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background-color: rgba(128, 190, 209, 0.1);

    &__main-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        font-weight: bold;
    }

    &__left {
        height: 100%;
        display: flex;
        justify-content: space-between;
        width: 60rem;
    }

    &__link {
        color: rgba(70, 55, 55, .8);
        text-decoration: none;
        padding: 0 2rem;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        text-align: center;
        
        &:hover {
            color: rgba(70, 55, 55, 1);
            background-color:  rgba(128, 190, 209, 0.2);
        }
    }

    &__header {
        font-size: 3.5rem;
        // min-width: 16rem;
        &-title {
            padding: 0 3rem 0 2.75rem;
        }
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        // width: 40rem;

        &-item {
            font-size: 2rem;
            // width: 15rem;
        }
    }

    &__right {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__menu {
        display: none;
    }
}

.dropdown {
    height: 100%;
    position: relative;
    transition: all .3s;

    &__toggle {
        display: flex;
        align-items: center;
        
        &-manage {
            padding-left: 2.25rem;
        }
    }

    &-icon {
        margin-left: 1rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__options {
        display: flex;
        flex-direction: column;
        background-color: rgba(128, 190, 209, 0.2);
        align-items: center;
        position: absolute;
        transition: all .3s;
        width: 100%;

        &-item {
            color:  rgba(70, 55, 55, .8);
            // width: 120.5px;
            width: 100%;
            padding: .25rem;
            padding-left: 2.25rem;
            text-decoration: none;
            transition: all .3s;
            font-size: 1.25rem;


            &:hover {
                color: rgba(70, 55, 55, 1);
                background-color:  rgba(128, 190, 209, 0.5);
            }
        }

       
    }

    &__menu {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        position: absolute;
        top: 8rem;
        width: 12rem;

        &-item {
            color:  rgba(70, 55, 55, .8);
            white-space: nowrap;
            padding: .25rem;
            padding-left: 2rem;
            font-size: 1.25rem;
            height: 100%;
        }
    }

    &__down {
        background-color: rgba(128, 190, 209, 0.1);

        &:hover {
            background-color:  rgba(128, 190, 209, 0.3);
        }
    }

}
.main-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 1.75rem;
    font-size: 3.5rem;
}



@media (max-width: 650px) {

    .navi {

        &__menu {
            display: flex;
            position:relative;

            &-dropdown {
                padding: 0 3rem 0 1.75rem;
            }
        }

        &__left {
            justify-content: flex-start;
        }

        &__collapse {
            display: none;
        }
    }

   

}

@media (max-width: 500px) {
    .navi {

        &__header {
            display: none;
        }
    }
}