<nav class="nav">
    <div class="nav__main-container">
        <div class="nav__header">
            <a href="#" class="nav__header-title nav__link">Recipe Book</a></div>
        <div class="nav__collapse">
            <div class="nav__list" role="list">
                <div class="nav__list-item" role="listitem"><a href="#" class="nav__link">Recipes</a></div>
                <div class="nav__list-item" role="listitem"><a href="#" class="nav__link">Shopping List</a></div>
            </div>
        </div>
    </div>
</nav>
