
.navi {
    height: 5rem;
    width: 100%;
    display: flex;
    background-color: rgba(128, 190, 209, 0.1);

    &__main-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        font-weight: bold;
    }

    &__left {
        height: 100%;
        display: flex;
        justify-content: space-between;
        width: 39rem;
    }

    &__link {
        color: rgba(70, 55, 55, .65);
        
        text-decoration: none;
        padding: .75rem 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all .3s;
        
        &:hover {
            color: rgba(70, 55, 55, 1);
            background-color:  rgba(128, 190, 209, 0.2);
        }
    }

    &__header {
        font-size: 2.5rem;
        min-width: 16rem;
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        width: 20rem;

        &-item {
            font-size: 1.5rem;
        }
    }

    &__right {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__menu {
        display: none;
    }
}

.dropdown {
    height: 100%;

    &__toggle {
        display: flex;
        align-items: center;
        
        &-manage {
            padding-left: 2rem;
        }
    }

    &-icon {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.main-icon {
    display: none;
}

@media (max-width: 505px) {

    .navi {

        &__menu {
            display: block;
        }

        &__left {
            width: 22px;
        }

        &__header {
            display: none;
        }

        &__collapse {
            display: none;
        }
    }

    .main-icon {
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.75rem;
    }

}