<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form">
    <div class="row">
        <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
        <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
        </div>
    </div>
    <div class="button__container">
            <button class="button button__edit" type="submit" 
                [disabled]="!f.valid" [class.disabled]="!f.valid">
                <span class="button__edit-span">{{ editMode ? 'Update' : 'Add' }}</span>
                <mat-icon class="button__edit-icon">add_circle_outline</mat-icon> 
            </button>
            <button class="button button__edit" type="button" (click)="onDelete()">
                <span class="button__edit-span">Delete</span>
                <mat-icon class="button__edit-icon">delete</mat-icon>
            </button>
            <button class="button button__edit" type="button" (click)="onClear()">
                <span class="button__edit-span">Clear</span>
                <mat-icon class="button__edit-icon">clear_all</mat-icon> 
            </button>
    </div>
</form>
