// affects whole component styling w/host
:host {
    width: 100%;
    flex: 0 50%;
    box-sizing: border-box;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 190, 209, 0.1);
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    &__link {
        text-decoration: none;
        color: rgba(70, 55, 55, .8);
        margin: 2rem 0;
        width: 100%;
        min-width: 26rem;
        height: 10rem;
        display: flex;
        transition: all .3s;

        &:hover {
            color: rgba(70, 55, 55, 1);
            background-color:  rgba(128, 190, 209, 0.2);
        }
    }

    &__text {
        width: 15rem;

    }

    &__title {
        display: block;
    }

    &__desc {
        display: block;
        
    }

    &__img {
        height: 8rem;
        width: 8rem;
        color: rgba(70, 55, 55, .65); 
    }
}


@media (max-width: 600px) {
    .item {

        &__link {
            // margin-right: 0; 
        }
    }
}