<h1>Recipe Name</h1>

<!-- <div role="button" class="button button__managerecipe">Manage Recipe</div> -->
<div class="managerecipe">  
    <a href="#" class="button managerecipe__button" role="button">Manage Recipe
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="dropdown-icon">arrow_drop_down_circle</mat-icon>
    </a>
</div>
<!-- inside toggle below -->
<a href="#" class="recipe__link">To Shopping List</a>
<a href="#" class="recipe__link">Edit Recipe</a>
<a href="#" class="recipe__link">Delete Recipe</a>
<!-- end toggle -->

<div class="description-header">Description</div>

<div class="ingredients-list">Ingredients</div>