.form-container {
    
    &__buttons {
        display: flex;
        margin: 3rem 0;

        &-button {
            display: flex;
            align-items: center;
        }

        &-span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.4rem;
            font-size: 1.5rem;
        }

        &-icon {
            font-family: 'Material Icons' !important;
            font-size: 2rem;
            margin-right: .5rem;
            margin-left: .25rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.form {
    // padding: 1rem;

    &__group {
        margin: 1rem 0;
        position: relative;
        
        &-label {
            width: 10rem;
            font-weight: bold;
        }
        &-input {
            margin-right: 2rem;
        }

        &-ingredients {
            display: flex;
            margin-left: 10rem;
        }
        &-ingredient {
            display: flex;
            flex-direction: column;
        }
    }
}

.edit-header {
    margin-top: 0;
    font-size: 2.5rem;
}

.desc {
    display: flex;
    flex-direction: row;
}

.button {

    &__ingredient {
        width: 15rem;
        margin-left: 0;
        margin-top: 2rem;
    }
}