/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900,900i&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.button {
    border: solid 1px rgba(70, 55, 55, .65); 
    color:  rgba(70, 55, 55, .65);
    text-align: center;
    padding: .25rem;
    min-width: 10rem;
    transition: all .3s;
    cursor: pointer;
    margin: 1rem;
}

.button:hover {
    background-color:  rgba(128, 190, 209, 1);
    color: white;
}

.link {
    text-decoration: none;
}
