<div class="managerecipe managerecipe-top" role="button" (click)="openManageRecipe()">  
    <a [routerLink]="['/recipe-detail']" class="button managerecipe__button link" [ngClass]="status ? 'dropdown__down' : 'dropdown__up'">Manage Recipe
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="dropdown-icon">arrow_drop_down_circle</mat-icon>
    </a>
    <div class="managerecipe__toggle" [ngClass]="status ? 'visible' : 'invisible'">
        <a [routerLink]="['/shopping-list']" class="recipe__link">To Shopping List</a>
        <a routerLink="" class="recipe__link">Edit Recipe</a>
        <a routerLink="" class="recipe__link">Delete Recipe</a>
    </div>
</div>
<div class="recipe__header-container">
    
    <h1 class="recipe__name">{{ recipe.name }}</h1>
    
    <div class="managerecipe managerecipe-side" role="button" (click)="openManageRecipe()">  
        <a [routerLink]="['/recipe-detail']" class="button managerecipe__button link" [ngClass]="status ? 'dropdown__down' : 'dropdown__up'">Manage Recipe
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="dropdown-icon">arrow_drop_down_circle</mat-icon>
        </a>
        <div class="managerecipe__toggle" [ngClass]="status ? 'visible' : 'invisible'">
            <a [routerLink]="['/shopping-list']" class="recipe__link">To Shopping List</a>
            <a routerLink="" class="recipe__link">Edit Recipe</a>
            <a routerLink="" class="recipe__link">Delete Recipe</a>
        </div>
    </div>
</div>

<div class="recipe__description description-header"> {{ recipe.description }}</div>

<div class="ingredients-list" 
    *ngFor="let ingredient of recipe.ingredients"> 
        {{ ingredient.name }} - {{ ingredient.amount}} 
</div>