<h1 class="recipe__name">{{ recipe.name }}</h1>

<div class="managerecipe" role="button">  
    <a routerLink="" class="button managerecipe__button">Manage Recipe
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="dropdown-icon">arrow_drop_down_circle</mat-icon>
    </a>
    <div class="managerecipe__toggle">
        <a routerLink="/shopping-list" class="recipe__link">To Shopping List</a>
        <a routerLink="" class="recipe__link">Edit Recipe</a>
        <a routerLink="" class="recipe__link">Delete Recipe</a>
    </div>
</div>

<div class="description-header"> {{ recipe.description }}</div>

<div class="ingredients-list" 
    *ngFor="let ingredient of recipe.ingredients"> 
        {{ ingredient.name }} - {{ ingredient.amount}} 
</div>