.recipe {

    &__name {
        margin: 2rem 0;
        color: rgba(70, 55, 55, 1);
        font-weight: bold;
    }
    &__link {
        padding: .5rem 0;
        padding-left: 1.5rem;
        color:  rgba(128, 190, 209, 1);
        transition: all .3s;

        &:hover {
            background-color: rgba(128, 190, 209, .35);
            color:  rgba(70, 55, 55, 1);
        }

    }

    &__description {
        color: rgba(70, 55, 55, 1);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__header {

        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.ingredients-list {
    margin: 1rem;
    background-color:  rgba(128, 190, 209, .1);
    color: rgba(70, 55, 55, .8);
    max-width: 26rem;
    padding-left: 1.5rem;
}

.managerecipe {
    width: 15rem;
    margin: 1rem;

    &-top {
        display: none;
    }

    &-side {
        display: block;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        font-weight: bold;
        text-decoration: none;
        margin: 0;

        &:visited {
            color:  rgba(70, 55, 55, .8);
        }
        &:hover {
            color: white;
        }

        &:focus {
            color: white;
            background-color:  rgba(128, 190, 209, 1);
        }
    }

    &__toggle {
        display: flex;
        flex-direction: column;
        width: 15rem;
        font-size: 1.25rem;
        border: solid 1px rgba(70, 55, 55, .65); 
        border-top: none;
        transition: all .3s;
    }
}

.dropdown {

    &__down {
        background-color:  rgba(128, 190, 209, 1);
    }

    &__up {
        border: solid 1px rgba(70, 55, 55, .65); 
        color:  rgba(70, 55, 55, .8);
    }

    &-icon {
        margin-left: .5rem;
        margin-top: .5rem;
        font-size: 2rem;
    }
}

.visible {
    height: 8.3rem;
}

@media (max-width: 600px) {
    .managerecipe {

        &-top {
            display: block;
        }

        &-side {
            display: none;
        }
    }
}